* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home Page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 50px;
}

/* ContactList Component */
.contact-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.change-btns {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
